[user]
	name = dthurn
	email = dthurn@fb.com
    editor = emacs
[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    co = checkout
    tree = log --graph --pretty=oneline --decorate
    up = !export git_updating=1 && git fetch && git rebase trunk && push-to-ds && export git_updating=0
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.global_gitignore
    pager = "emacspager.pl"
[apply]
  whitespace = fix
