[user]
	name = Derek Thurn
  editor = emacs_wrapper.rb
	email = derek@fake.email
[color]
        ui = true
        diff = true
        status = true
        branch = true
        interactive = true
        grep = true
[color "branch"]
        current = white blue bold
        local  = blue
        remote = green
[color "diff"]
        plain = white
        meta = yellow bold
        frag = magenta bold
        old = red
        new = green
        whitespace = red blink
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[alias]
    co = checkout
    tree = log --graph --pretty=oneline --decorate
    up = !export git_updating=1 && git fetch && git rebase trunk && push-to-ds && export git_updating=0
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.global_gitignore
    #pager = "emacspager.pl"
    pager = less
[apply]
  whitespace = fix
[merge]
	tool = meldscript
	conflictstyle = diff3
[mergetool "meldscript"]
	cmd = git_merge_meld.sh $LOCAL $BASE $REMOTE $MERGED
[rerere]
	enabled = true
[push]
	default = matching
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
